/* article img {
  height: 250px;
} */

.dev-container article {
  border-radius: 24px;
  padding-top: 40px;
  padding-bottom: 20px;
  border: 3px solid #2283E6;
  background-color: rgb(245, 178, 152);
  width: 100%;
  text-align: center;
}

.dev-content {
  justify-self: center;
}

.dev-container {
  margin: 0 auto;
  width: 77%;
  height: 92vh;
  justify-items: center;
  column-gap: 80px;
  display: grid;
  row-gap: 80px;
  grid-template-columns: 1fr 1fr;
  /* margin-right: 20px; */
  /* margin-left: 20px; */
}

.dev-container h2 {
  grid-column: span 2;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


.dev-content h3 {
  margin: 0;
  font-weight: bold;
  color: blue;
}

.dev-content p {
  margin: 0;
  font-size: 14px;
  /* color: blue;*/
  /* color: white; */
}

.dev-buttons {
  all:unset;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 60%; */
  /* display: flex; */
}

.dev-buttons button {
  all: unset;
  cursor: pointer;
}

.dev-buttons button img {
  height: 80px;
}

#email-img {
  height: 65px;
}

.dev button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

.dev button:active {
  transform: translateY(0);
  box-shadow: none;
}

@media (max-width: 1200px) {

  article {
    display: grid;
    grid-template-columns: 1fr;
  }
  .dev-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
