

.container, .middle {
    width: 0%;
    padding:0%;
    margin: 0%;
}
.text {
    display: none;
}
.container {
    grid-column: 1;
}

.container img {
    visibility: visible;
}

.snack-details {
    grid-column: 2;
    text-align: center;
}


.snack-details p {
  margin: 0;
}
.snack-details p:first-child {
  font-size: 24px;
  margin-bottom: 10px;
}
.snack-details p:nth-child(2) {
  font-size: 18px;
  margin-bottom: 20px;
}

.index-fav-delete {
  justify-items: center;
  align-self: center;
  height: fit-content;
  display: flex;
  column-gap: 15px;
}

.index-fav-delete span:last-child:hover {
  cursor: pointer;
}

@media (max-width: 360px){
    .snack-details, .index-fav-delete, hr {
        display: none;
    }
    .container {
        position: relative;
        width: 150px;
        grid-column: unset;
      }
      
      .container img {
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.786);
        display: grid;
        justify-items: center;
      }
      
      .container:hover img {
        opacity: 0.5;
      }
      
      .container:hover .middle {
        opacity: 1;
      }
      
      .text {
        display: unset;
        color: white;
        font-size: 18px;
        padding: 10px;
      }
}