.index {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  display: grid;
  grid-template-columns: .4fr 1fr .6fr;
  grid-template-rows: .2fr .5fr .5fr;
  padding-bottom: 5%;
}

.index-snack,
.index-left,
.index-right {
  background-color: lightsalmon;
  border-radius: 24px;
  border: 3px solid #2283e6;
}

.index-header {
  grid-column: span 3;
  justify-self: center;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 10% 35% 35% 10% 5%;
  align-items: center;
  margin-bottom: 3%;
}

.cat-gif {
  grid-column: 1;
  height: 75px;
  justify-self: left;
  grid-row: 1;
}

.cat-gif:nth-child(2){
  grid-column: 6;
  justify-self: right;
}

.search {
  grid-column: 3/5;
  text-align: center;
  padding-top: 5%;
}
#searchbar {
  width: 75%;
}

/* snacks list */
.index-snack {
  grid-column: 1/3;
  grid-row: 2/4;
  padding: 5% 0;
  width: 95%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  row-gap: 5px;
  justify-items: center;
  height: fit-content;
  height: 100vh;
  overflow: auto;
}

.index-snack hr {
  grid-column: 1/4;
  border: 1px solid #084e994e ;
  width: 75%;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 60px;
  
  
}

.index-snack img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.index-snack img:hover {
  border: 2px solid #cde60b;
  transform: scale(1.1);
}

.index-left,
.index-right {
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: auto;
  width: 80%;
  justify-self: center;
  align-self: center;
  height: 50vh;
  font-size: 18px;
}

.index-left h5,
.index-right h5 {
  margin: 0;
  height: fit-content;
  font-size: 24px;
  margin-bottom: 10px;
}

.index-left hr {
  width: 70%;
  border: #084e994e 1px solid ;
}
/* fiber/protein */
.index-left {
  grid-column: 3;
  grid-row: 3;
  grid-template-rows: 45% 5% 45%;
}

.index-left .fiber {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  position: relative;
  bottom: 20px;
}

.index-left .fiber  li {
  margin: 0;
}

/* distance btw bullet point and text */
.index-left .fiber li span {
  position: relative;
  left: -10px;
}

/* favorites */
.index-right {
  grid-template-rows: .3fr repeat(5, 0.5fr);
  margin-bottom: 10px;
  text-align: center;
}

.index-right h5 {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 8% 0;
}

.index-right h5 svg {
  margin-left: 10px;
  animation: beat 1.5s linear infinite;
}

.index-right li {
  list-style: none;
  
}

.index-right li::before {
    content: "🌟"; 
    margin-right: 10px;
}

.index-right a {
  margin-right: 7px;
}

.radio {
  display: flex;
  justify-content: space-evenly;
}

.index .add-button {
  display: none;
}
/* scrollbar */
::-webkit-scrollbar {
  /* // Width of vertical scroll bar */
  width: 7px;
  /* // Height of horizontal scroll bar */
  height: 8px;
}
/* imit 'reach of scrollbar, wont cut */
::-webkit-scrollbar-button:start{height: 50px; width:15%;}
::-webkit-scrollbar-button:end{height: 10px; width:15%;}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(
    to bottom,
    #e62d21,
    #084f99,
    #2283e6,
    #89990f,
    #cde60b
  );
}

@keyframes beat {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.2);
  }
}
/* footer */
footer {
  z-index: 100;
}

/* Mobile view  */
@media (max-width: 360px) {
  .index {
    /* index.css with extra padding */
    all:unset;
    display: grid;
    grid-template-columns: 1fr;
    /* max-height: 800px; */
    overflow-y: scroll;
    width: 100%;
    padding: 5% 0;
    padding-bottom: 15%;
  }
  .index .add-button {
    display: unset;
  }
  .index a:last-child img {
    display: unset;
    height: 60px;
    position: fixed;
    z-index: 500;
    left: 42%;
    top: 87%;
    border-radius: 50%;
  }
  .index-snack {
    all:unset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    row-gap: 20px;
    position: relative;
    right:7%;
  }
  .index-snack a {
    width: 100px;
    margin-left: 5px;
  }
  .index-snack img {
    height: 150px;
    border-radius: 10px;
  }
  .index aside,
  .index-header, .cat-gif {
    display: none;
  }
}
