.snack-info {
  text-align: center;
  height: 100vh;
  width: 95vw;
}

.snackInfo {
  display: flex;
  justify-content: center;
  background-color: lightsalmon;
  padding: 20px;
  width: 70%;
  align-items: center;
  position: relative;
  left: 13%;
  border-radius: 50px;
  border: 3px solid rgb(63, 63, 255);
  margin: 3px;
}

.snack-img {
  height: 300px;
  width: 300px;
  border-radius: 50px;
  margin-right: 50px;
}

.snack-text {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30%;
}

.buttons {
  display: flex;
  justify-content: center;
}
.navButtons {
  all: unset;
  cursor: pointer;
  margin: 15px;
  background-color: blue;
  color: aquamarine;
  border: 2px solid aquamarine;
  border-radius: 24px;
  font-size: 14px;
  padding: 5px 25px 5px 25px;
}

.navButtons:hover {
  background-color: cornflowerblue;
  color: darkslateblue;
  border-color: aquamarine;
}

@media (max-width: 800px) {
  .snack-info {
    height: 120vh;
  }

  .snack-info h1 {
    all: unset;
    font-size: x-large;
    margin-top: 50px;
  }

  .snackInfo {
    margin: 0 auto;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;
    max-height: 90vh;
  }

  .snack-img {
    margin: 0 auto;
    max-width: 200px;
    margin-bottom: 20px;
    height: fit-content;
    border: 2px solid blue;
    border-radius: 20px;
    align-self: center;
  }

  .snack-text {
    all: unset;
    padding-top: 25px;
    justify-content: center;
    width: 95%;
    position: relative;
    left: 2.5%;
  }

  .snack-text h5 {
    font-size: 20px;
  }

  .buttons {
    padding-bottom: 50px;
  }

  .navButtons {
    all: unset;
    cursor: pointer;
    margin: 5px;
    background-color: blue;
    color: aquamarine;
    border: 2px solid aquamarine;
    border-radius: 24px;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
  }
}

@media (max-width: 360px) {
  .snack-info {
    width: 300px;
  }
  .snackInfo {
    width: 250px;
  }
  .snack-info h1 {
    font-size: x-large;
    font-weight: bolder;
    width: 300px;
  }
}
