/* .snack_details_container {
  display: grid;
  place-items: center;
  width: 400px;

  height: 60vh;
}

.card_content {
  text-align: center;
  position: relative;
  padding: 5em;
  transition: transform 2s;
  background: blue;
  transform-style: preserve-3d;
   flat
}

.card_front,
.card_back {
  THEY NEED TO OVER LAP
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3em;
  backface-visibility: hidden; 
  hide content when flipped
  transform-style: preserve-3d;
}
.card_front {
  background: aquamarine;
  transform: rotateY(0.25turn);
}

.card_title {
  font-size: 3rem;
  transform: translateZ(200px);
}
.card_subtitle {
  transform: translateZ(200px);
}
.card_body {
  transform-style: translateZ(2rem);
}
.card_back {
  to flip words and make readable 
  transform: rotateY(".5turn");
  background: lightblue;
}
.snack_details_container:hover .card_content {
  cursor: pointer;
  transform: rotateY(0.5turn); 
  or 45deg
} */

@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
/* ROOT FUNCTIONS */
:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --clr: #b7c9e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.card {
  width: 60vw;
  height: 80vh;
  text-align: center;


  
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--clr);
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
}

.card__front::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
  height: 300px;
  width: 300px;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}

.body_image {
  height: 90px;
  width: 90px;
}

.card__back {
  transform: rotateY(0.5turn);
  color: var(--clr);
  background: #333;
}
