/* colors:
#084F99 blue
#E62D21 red
#2283E6 lighter blue
#CDE60B lime
#89990F green
 white- rgb(239, 235, 235);
*/

@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap");

* {
  font-family: "Saira", sans-serif;
  /* font-size: large; */
}


.dark {
  /* color: #fff; */
  color: rgb(239, 235, 235);
  background-color: #031c36;
}
.light {
  color: #003873;
  background-color: #c3e0fd;
}

input,
#searchbar {
  border-radius: 10px;
  border: 1px solid salmon;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #2283e6;
}

.dark a:hover {
  color: #003873;
}

h5 {
  color: #003873;
}

#home {
  height: 85vh;
  text-align: center;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#home img {
  height: 500px;
  margin-left: 20px;
  border-radius: 20px;
  border: 3px solid #2283e6;
}

#home p {
  margin: 0 auto;
  margin: 30px;
  margin-left: 50px;
  font-size: 22px;
  border: 3px solid #2283e6;
  width: 30%;
  height: 70%;
  border-radius: 24px;
  background-color: lightsalmon;
  padding: 30px 30px 20px 30px;
}

#home p #hint {
  color: #003873;
}
