/* colors:
#084F99 blue
#E62D21 red
#2283E6 lighter blue
#CDE60B lime
#89990F green
*/

.dark {
  /* color: #fff; */
  color: #2283e6;
  background-color: #333;
  background-color: #031c36;
}
.light {
  background-color: #fff;
  color: #034387;
  background-color: #afd6fc;
}
